@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

p{
  margin: 0.75rem 0;
}

a{
  text-decoration: none;
}

/* Utility Classes */
.container{
  max-width: 1100px;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}
.text-align{
 text-align: center;  
}

.text-primary{
  color:#93cb52;
}
.l-heading{
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.m-heading{
  font-size: 2.8rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.lead{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}
.py-4{padding: 4.5rem 0;}

.p-1{padding: 1.5rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}

.bg-light{
 background: #f4f4f4;
}

.bg-dark{
  background: #333;
  color:#fff
}

.bg-primary{
  background: #93cb52;
  color: #fff;
}
.btn{
  display: inline-block;
  color: #fff;
  background: #93cb52;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: none;
}

.btn:hover{
  background: #7ab436;
}

.btn-dark{
  color: #fff;
  background: #333 ;
}

/* Navbar */
#navbar{
  background: #333;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}
#navbar ul{
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a{
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
#navbar ul li a:hover{
  background: #93cb52;
  border-radius: 5px;
}

#showcase{
  background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
  color: #fff;
  height: 100vh;
}

.overlay{
    /* Overlay */
    height: 100%;
    position: relative;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    flex-wrap: wrap;
    width: 100%;
}

#showcase .showcase-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

/* What We Do */
#what h2{
  text-align: center;
}
#what .items{
 display: flex;
 padding: 1rem;
}
#what .items .item{
  flex: 1;
  text-align: center;
  padding: 1rem;
}
#what .items .item i{
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 0.75rem;
}

/* Who We Are */
#who{
  display: flex;
  /* height: 1000px; */
}
#who div{
  flex: 1;
  flex-basis: 50%;
}

#who .who-img{
  background: url('../img/people.jpg') no-repeat center center/cover;
}

#who .list{
  list-style: none;
  padding: 1rem 0;
}

#who .list li{
  padding: 0.5rem 0;
  border-bottom: #444 1px dotted;
}

/* Our Clients */
#clients .items{
  display: flex;
}
#clients .items img{
  margin: auto;
  display: block;
  width: 60%;
}

#clients h2{
  margin-bottom: 2rem;
}

/* Contact Form */

#contact{
  display: flex;
}

#contact .contact-form , #contact .img{
  flex: 1;
  flex-basis: 50%;
}
#contact .contact-form{
  padding: 1rem;
}
#contact .contact-form .form-group{
  margin: 0.75rem;
}

#contact .contact-form label{
  display: block;
  
}

#contact .contact-form input,
#contact .contact-form textarea{
  padding: 0.5rem;
  width: 100%;
}

#contact .img{
  background: url('../img/pexels-tatiana-fet-1105766.jpg') no-repeat center center/cover;
}

/* footer */
footer p{
  font-size: 1.16rem;
}